@{
    ViewBag.Title = "Weather Widget";
}

<div class="jumbotron">
    <h1>Weather Widget</h1>
    <p class="lead">See what the weather is like in your ZIP code!</p>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h2>Enter your ZIP code below to see the weather.</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>